<!doctype html>
<html lang="en">
  <head>
 
  </head>

  <body>
    <section id="banner">
      <div class="wrapper">
        <header>
          <p id="logo"><i>Smooth</i><strong>Peaks</strong> (Stack)</p>
          <nav>
            <a href="#">Home</a>
            <a href="#">Use Cases</a>
            <a href="#">Integrations</a>
            <a href="#" class="button button_secondary button_small">Contact</a>
          </nav>
        </header>

        <div class="content">
          <h1 class="title">Integral fitness tracking.</h1>
          <h1 class="subtitle">Bespoke solutions to study athletes and their data.</h1>
          <div class="button_wrapper">
            <a href="#" class="button button_highlight">Learn More</a>
          </div>
        </div>

      </div>
    </section>

    <section id="integration_band">
      <div class="wrapper">
        <div class="content">
          <h3></h3>
        </div>
      </div>
    </section>



    <section id="fieldwork">
      <div class="wrapper">
        <div class="boxed">
          <h3>33333</h3>
          <br>
          <br><br><br>
        </div>
        <div>
          <h1 id=bigtext>BREAK THE RULES</h1>
        </div>
      </div>
    </section>

    <section id="services" class="cf">
      <div class="wrapper">
        <div class="service">
          <h3>Customize</h3>
          <p>Set goals and outline questions about athletic performance and recovery.</p>
        </div>
        <div class="service">
          <h3>Glue</h3>
          <p>Select and integrate the data points that'll help answer those questions.</p>
        </div>
        <div class="service">
          <h3>Lace up</h3>
          <p>Track deep progress and understand the factors that influence performance.</p>
        </div>
      </div>
    </section>


    <section id="labwork">
      <div class="wrapper">
        <div>
          <h1 id=bigtext>BREAK THE RULES</h1>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>