




<!-- BaseURL:   http://oakleyamp.co/ -->
<!-- SiteURL:   http://oakley.com/en/ -->
<!-- Subdomain: us -->
<!-- Locale:    en -->
<!-- Is Oakley:  -->
<!-- Region Cookie:  -->
<!-- Query String:  -->
<!-- Main Domain: oakleyamp.co -->
<!-- Region Selected Cookie:  -->
<!-- Referrer: https://www.oakley.com/en-us/collections/mens-baseball -->


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xml:lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en" xml:lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" xml:lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xml:lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Cache-Control" content="max-age=120"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" id="viewportMeta" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Oakley test</title>

<meta name="description" content="PRIZM™ is an Oakley lens technology designed to enhance color and contrast so you can see more detail. Explore PRIZM™ technology at the official Oakley online store. Go all in with PRIZM™ Sport or PRIZM™ Everyday." />
<meta name="robots" content="index, follow, archive" />
<meta name="dc.language" content="EN">
<meta name="geo.position" content="33.67197;-117.64611">
<meta name="geo.placename" content="Lake Forest">
<meta name="geo.region" content="US-CA">
<meta name="ICBM" content="33.67197,-117.64611" />
<meta property="fb:app_id" content="" />
<meta property="og:title" content="Oakley - Men&#039;s &amp;amp; Women&#039;s Sunglasses, Goggles, &amp;amp; Apparel" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.oakley.com/en/prizm" />
<meta property="og:author" content="Oakley Inc." />
<meta property="og:publisher" content="Oakley Inc." />
<meta property="og:site_name" content="Oakley" />
<meta property="og:description" content="" />
<meta property="og:locale" content="en_US" />



<meta property="twitter:card" content="summary" />    <meta name="twitter:image" content="https://s3-us-west-1.amazonaws.com/com.oakley.general/seo/_800x600_crop_center-center/logo.png" />
    <meta name="twitter:image:width" content="800">
    <meta name="twitter:image:height" content="600">
    <meta property="og:image" content="https://s3-us-west-1.amazonaws.com/com.oakley.general/seo/_800x600_crop_center-center/logo.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:type" content="image/png" />
  

<meta name="twitter:site" content="@oakley" />
<meta name="twitter:creator" content="@oakley" />
<meta name="twitter:title" content="Oakley - Men&#039;s &amp;amp; Women&#039;s Sunglasses, Goggles, &amp;amp; Apparel" />
<meta name="twitter:description" content="" />
<meta name="twitter:url" content="http://oakley.com/en/prizm" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600|Droid+Serif:400,400italic' rel='stylesheet' type='text/css' />


                    
    
{% comment %} Test {% endcomment %}
{% comment %} <link rel="stylesheet" type="text/css" href="/assets-amp/css/pages/prizm19.css"/> {% endcomment %}

    <!-- Begin Monetate ExpressTag Sync v8. Place at start of document head. DO NOT ALTER. -->
        <script type="text/javascript">
            var monetateT = new Date().getTime();
            (function() {
                var p = document.location.protocol;
                if (p == "http:" || p == "https:") {
                    var m = document.createElement("script"); m.type = "text/javascript"; m.src = (p == "https:" ? "https://s" : "http://") + "e.monetate.net/js/2/a-f279eb15/p/www.oakley.com/entry.js";
                    var e = document.createElement("div"); e.appendChild(m); document.write(e.innerHTML);
                }
            })();
        </script>
    <!-- End Monetate tag. -->


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="site-container">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=230047513721231&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>





<!-- Header Include Here -->
<script type="text/javascript">
     var language = window.location.pathname.substr(1,2);
     var country = window.location.origin;
</script>






     



<div id="prizm19">
     <!--======================================================================= HERO VISUAL-->
     <div class="" id="trigger0"></div>
     <div class="" id="us"></div>
     <section id="hero">
          <div class="staticCopy">
               <img src="https://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Hero_Logo_W?$png$" alt="logo prizm">
               <h1>see<br>it in<br>prizm<sup style="font-family:'ScoutCond',sans-serif !important;-webkit-text-stroke-width: 1px;font-size: 0.5em;top: -14%;">&trade;</sup></h1>
          </div>
          <div class="layer"></div>
          <div id="copy">
               <h2>PRIZM<span style="font-family:'ScoutCond",sans-serif !important;'>&trade;</span> is an Oakley lens technology designed to enhance color and contrast so you can see more detail.</h2>
          </div>
     </section>

     <section id="feature" class="up">
          <h2 id="featureTitle" class="futura">breaking<br>the rules</h2>

          <!--================================================================== FEATURE 1-->
          <div class="" id="trigger1"></div>
          <div class="feature1 feature b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_1_B?scl=1" data-src-small="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_1_B_M?scl=1">
               <div class="rightcopy">
                    <h3 class="futura">#1<br>color</h3>
                    <p>Tuned to create a more vivid, vibrant world.</p>
               </div>
               <div class="fakeBg b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_1_A?scl=1" data-src-small="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_1_A_M?scl=1"></div>
          </div>

          <!--================================================================== FEATURE 2-->
          <div class="" id="trigger2"></div>
          <div class="feature2 feature b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_2_B?scl=1" data-src-small="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_2_B_M?scl=1">
               <div class="rightcopy">
                    <h3 class="futura">#2<br>contrast</h3>
                    <p>Defined to increase depth perception and highlight features in the surrounding environment. </p>
               </div>
               <div class="fakeBg b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_2_A?scl=1"  data-src-small="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_2_A_M?scl=1"></div>
          </div>

          <!--================================================================== FEATURE 3-->
          <div class="" id="trigger3"></div>
          <div class="feature3 feature b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_3_B?scl=1" data-src-small="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_3_B_M?scl=1">
               <div class="rightcopy">
                    <h3 class="futura">#3<br>details</h3>
                    <p>Reveals what you may not see with the naked eye.</p>
               </div>
               <div class="fakeBg b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_3_A?scl=1" data-src-small="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Feature_3_A_M?scl=1"></div>
          </div>
     </section>

     <section id="navTitle">
          <h3>WHAT DO YOU SEE?</h3>
     </section>

     <section id="nav" data-element-id="X_Prizm19_Nav">
          <div class="colContainer">
               <div class="col colsx b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport?scl=1">
                    <span class="title futura b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport?scl=1">PRIZM<span style="font-family:'ScoutCond';">&trade;</span><br>SPORT</span>
                    <span class="trigger button open" onclick="openNav('sx')" data-description="see all sports">See all   <span class="symbol">&#62;</span></span>
                    <span class="trigger button closee" onclick="openNav('sx')" data-description="close all sports">Close   <span class="symbol">&times;</span></span>
               </div>

               <div class="col coldx b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Everyday?scl=1">
                    <span class="title futura b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Everyday?scl=1">PRIZM<span style="font-family:'ScoutCond';">&trade;</span><br>EVERYDAY</span>
                    <span id="toHideInCaseOf" class="trigger button open" onclick="openNav('dx')" data-description="see all everyday">See all   <span class="symbol">&#62;</span></span>
                    <span class="trigger button closee" onclick="openNav('dx')" data-description="close all everyday">Close   <span class="symbol">&times;</span></span>
               </div>

               <script>
                    var itemNumberCarouselSport = 0;
                    var itemNumberCarouselEveryday = 0;
               </script>

               <div class="carousel carouselSport">
                                                                      <a class="tileAnchor snow" href="/en-us/prizm/snow" data-description="prizm TRADEMARK snow">
                              <div class="tile" style="background-image:url('https://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport_Snow?scl=1')">
                                   <span class="title futura">prizm TRADEMARK snow</span>
                                   <p>See new frontiers.</p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor trail" href="/en-us/prizm/trail" data-description="PRIZM TRADEMARK TRAIL">
                              <div class="tile" style="background-image:url('https://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport_Trail?scl=1')">
                                   <span class="title futura">PRIZM TRADEMARK TRAIL</span>
                                   <p>See your best line.</p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor road" href="/en-us/prizm/road" data-description="PRIZM TRADEMARK ROAD">
                              <div class="tile" style="background-image:url('https://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport_Road?scl=1')">
                                   <span class="title futura">PRIZM TRADEMARK ROAD</span>
                                   <p>See where the road takes you.</p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor golf" href="/en-us/prizm/golf" data-description="PRIZM TRADEMARK GOLF">
                              <div class="tile" style="background-image:url('https://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport_Golf?scl=1')">
                                   <span class="title futura">PRIZM TRADEMARK GOLF</span>
                                   <p>See your best round.</p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor field" href="/en-us/prizm/field" data-description="PRIZM TRADEMARK FIELD">
                              <div class="tile" style="background-image:url('http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm%5F19%5FCover%5FVideo%5FField%5FM?$png$')">
                                   <span class="title futura">PRIZM TRADEMARK FIELD</span>
                                   <p>See the game. </p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor shallowwater" href="/en-us/prizm/shallow-water" data-description="PRIZM TRADEMARK SHALLOW WATER">
                              <div class="tile" style="background-image:url('https://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport_ShallowWater?scl=1')">
                                   <span class="title futura">PRIZM TRADEMARK SHALLOW WATER</span>
                                   <p>See what’s beneath.</p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor deep-water" href="/en-us/prizm/deep-water" data-description="PRIZM TRADEMARK DEEP WATER">
                              <div class="tile" style="background-image:url('http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm%5F19%5FNav%5FSport%5FDeep%5Fwater?$png$')">
                                   <span class="title futura">PRIZM TRADEMARK DEEP WATER</span>
                                   <p>See beyond.</p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor low-light" href="/en-us/prizm/low-light" data-description="prizm TRADEMARK low light">
                              <div class="tile" style="background-image:url('http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm%5F19%5FNav%5FSport%5FLowLight?$png$')">
                                   <span class="title futura">prizm TRADEMARK low light</span>
                                   <p>See what&#039;s possible.</p>
                              </div>
                              <script type="text/javascript">
                                   itemNumberCarouselSport += 1;
                              </script>
                         </a>

                                                                                                                                                      </div>
               <div class="carousel carouselEveryday">
                                                                                                                                                                                                                                                                                                                                                                                                                                              <a class="tileAnchor grey" href="/en-us/prizm/gray" data-description="PRIZM TRADEMARK GREY-Base Lenses">
                              <div class="tile" style="background-image:url('http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport_Grey?$jpg$')">
                                   <span class="title futura">PRIZM TRADEMARK GREY-Base Lenses</span>
                                   <p>Engineered to enhance colour vividness and increase contrast in your everyday experience.</p>
                              </div>
                              <script>
                                   itemNumberCarouselEveryday += 1;
                              </script>
                         </a>

                                                                                               <a class="tileAnchor bronze" href="/en-us/prizm/bronze" data-description="PRIZM TRADEMARK BRONZE-Base Lenses">
                              <div class="tile" style="background-image:url('http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Nav_Sport_Bronze?$jpg$')">
                                   <span class="title futura">PRIZM TRADEMARK BRONZE-Base Lenses</span>
                                   <p>Engineered to enhance color vividness and increase contrast in your everyday experience.</p>
                              </div>
                              <script>
                                   itemNumberCarouselEveryday += 1;
                              </script>
                         </a>

                                                            </div>
               <script>
                    if(itemNumberCarouselEveryday == 0){
                         document.getElementById('toHideInCaseOf').style.display = 'none';
                    }
               </script>
               <div class="clear">

               </div>
          </div>
     </section>

     <section id="video" data-element-id="X_Prizm19_video" class="b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Video_Bg?scl=1">
          <h3>science behind prizm<sup style="font-family:'ScoutCond',sans-serif !important;-webkit-text-stroke-width: 1px;font-size: 0.5em;">™</sup></h3>
          <div class="videoContainer">
               <div class="video">
                    <div class="cover">
                         <img class="b-lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAqCAQAAACg5DUTAAAAMUlEQVR42u3OAQ0AAAwCoNu/9Gs4BwnIlYiIiIiIiIiIiIiIiIiIiIiIiIiIiMhG5AH5yAArXOzv3AAAAABJRU5ErkJggg==" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Video_Cover_1?scl=1" alt="">
                         <a href="javascript:openVideo('Xxt3Tukwf7E')" aria-label="video id ScMzIvxBSi4" data-description="video1">&#9656;</a>
                    </div>

               </div>
               <!--<div class="video">
                    <div class="cover">
                         <img class="b-lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAqCAQAAACg5DUTAAAAMUlEQVR42u3OAQ0AAAwCoNu/9Gs4BwnIlYiIiIiIiIiIiIiIiIiIiIiIiIiIiMhG5AH5yAArXOzv3AAAAABJRU5ErkJggg==" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Video_Cover_2?scl=1" alt="">
                         <a href="javascript:openVideo('y2Ky3Wo37AY')" aria-label="video id y2Ky3Wo37AY" data-description="video2">&#9656;</a>
                    </div>

               </div>-->
          </div>

          <div id="videoOverlay">
               <a href="javascript:closeVideo()" class="closeVideo">&times;</a>
               <iframe id="player" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src=""></iframe>
          </div>

     </section>

     <section id="siipBanner">
          <a href="/en-us/collections/see-it-in-prizm" data-element-id="X_Prizm19_lastBanner" data-description="seeItInPrizm">
               <div class="b-lazy" data-src="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Campaign_Banners_D?scl=1" data-src-small="http://s7d2.scene7.com/is/image/LuxotticaOakley/Prizm_19_Campaign_Banners_M?scl=1"></div>
          </a>
     </section>


</div>









<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineMax.min.js"></script>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>


<!-- Footer Include Here -->

<div id="cart-drawer">
  <div class="container-fluid flush">


    <div class="row">

      <div class="cart-title">

      </div>

      <div class="cart-wrapper">

      </div>

    </div>


  </div>
</div>


<script src="/assets-amp/js/vendors/jquery/jquery-2.1.3.min.js"></script>
<script src="/assets-amp/js/utilities/detectmobilebrowser.js"></script>
<script src="/assets-amp/js/base.js"></script>
<script src="/assets-amp/js/vendors/slick/slick.min.js"></script>
<script src="/assets-amp/js/vendors/bootstrap/collapse.js"></script>
<script src="/assets-amp/js/vendors/enquire/enquire.min.js"></script>
<script src="/assets-amp/js/vendors/owl/owl.carousel.min.js"></script>
<script src="/assets-amp/js/components/header-v3.js"></script>
<script src="/assets-amp/js/vendors/twitter/typeahead.bundle.js"></script>


<script type="text/javascript" src="/assets-amp/js/vendors/blazy/blazy.min.js"></script>
<script type="text/javascript" src="/assets-amp/js/pages/prizm19/main.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
/*var utag_data={
    clientid:"90033410",
    data_collection_method:false,
    data_collection_domain:"www75.oakley.com",
    cookie_domain:"oakleyamp.co",
    site_region:"US",
    site_country:"US",
    site_currency:"USD",
    page_name:"prizm19",
    page_category:"prizm19",
    page_platform:"AMP"
};*/

    var utag_data={
         Page_Brand : "OO",
         Page_Country : "US" , // 2 digits uppercase - ISO 3166-1 (ex. GB)
         Page_Language : "EN", // 2 digits uppercase - ISO 639-1 (ex. EN)
         Page_DeviceType : "X",
         Page_Type : "Landing",
         Page_Section1 : "prizm19",
         Page_Platform : "AMP",
         User_Id : "90033410", // User Id belonging to the platform
         Order_Currency: "USD" // ISO 4217. Ex. “USD”
    };

  (function(a,b,c,d){
      a='//tags.tiqcdn.com/utag/luxottica/oakley/prod/utag.js';
      b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
      a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
      })();
/*]]>*/
</script>

</body>
</html>
