

// ---- Variables ---- //
$white: #FFFFFF;
$highlight: #7ac483;
$grey_background: #001a21;
$grey_copy: b9b7c6;
$dark_grey: 3f3d4e;



// ---- Global Styles ---- //

body {
    font-family: "brandon-grotesque", Helvetica, sans-serif;
}

.wrapper{
    width: 1440;
    max-width: 90%;
    margin: 0 auto;

}


// ---- Banner Styles ---- //
#banner {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    header{
        padding: 2rem 0;
    }
    #logo{
        color: $grey_background;
        font-weight: 700;
        font-size: 1.35rem;
        float: left;
        margin: 0;
        span {
            font-weight: 400;
        }
    }
    nav {
        float: right;
        a {
            color: $grey_copy;
            font-weight: 700;
            text-decoration: none;
            margin-left: 2rem;
        }
    }
    .content {
        padding: 2rem 0 6rem 0;
        .title, .subtitle {
            color: #FFFFFF;
            text-align: center;
        }
        .title {
            font-size: 3.5rem;
            margin: 0;
        }
        .subtitle {
            font-weight: 400;
            font-size: 1.35rem;
            width: 500px;
            margin: 0 auto 2rem auto;
            line-height: 1.75;
        }
    }
}