body {
  font-family: "brandon-grotesque", Helvetica, sans-serif; }

.wrapper {
  width: 1440;
  max-width: 90%;
  margin: 0 auto; }

.button {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .5rem 3rem;
  font-weight: #FFFFFF;
  text-decoration: none;
  text-align: center; }

.button_highlight {
  background-color: #7ac483; }

.button_secondary {
  background-color: rgba(250, 250, 250, 0.4); }

.button_secondary {
  padding: 0.3rem 1.5rem; }

#banner {
  background-image: url("bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #banner header {
    padding: 2.5rem 0;
    width: 100%; }
  #banner #logo {
    color: #001a21;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0; }
    #banner #logo span {
      font-weight: 400; }
  #banner nav {
    float: right; }
    #banner nav a {
      color: #b9b7c6;
      font-weight: 700;
      text-decoration: none;
      margin-left: 2rem; }
  #banner .content {
    padding: 4rem 0 10rem 0; }
    #banner .content .title, #banner .content .subtitle {
      color: #FFFFFF;
      text-align: center; }
    #banner .content .title {
      font-size: 3.5rem;
      margin: 0; }
    #banner .content .subtitle {
      font-weight: 400;
      font-size: 1.35rem;
      width: 500px;
      margin: 0 auto 2rem auto;
      line-height: 1.75; }
    #banner .content .button_wrapper {
      text-align: center;
      margin: 3rem 0; }
      #banner .content .button_wrapper .button {
        margin: 0 0.75; }

#integration_band {
  background-image: url("logo_band.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #integration_band header {
    padding: 24rem 10;
    width: 100%; }
  #integration_band .content {
    padding: 4rem 0 4rem 0; }
